<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Blog posts</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>Search by title</h1>
  <form method="GET">
    <input type="text" style="width: 600px" name="title" placeholder="title" value="<%= title %>">
    <input type="submit" value="Search">
    <h1>Blog posts</h1>
    <% if (locals.err) { %>
      <p>Error occurred: <%= err %>
      </p>
      <% } %>
        <% if (locals.blogPosts && blogPosts.length> 0) { %>
          <% blogPosts.forEach((blogPost)=> { %>
            <h2>
              <%= blogPost.title %>
            </h2>
            <p class="date">uploaded at <%= blogPost.date %>
            </p>
            <p>
              <%= blogPost.content %>
            </p>
            <% }) %>
              <% } else { %>
                <p class="message">No blog posts to show</p>
                <% } %>
</body>

</html>