<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { title: 'Error' }) %>

  <body>
    <%- include('partials/navbar.ejs') %>

      <h1>We have encountered an error</h1>
      <p>Message:</p>
      <p class="message">
        <%= message %>
      </p>
      <p>Maybe you would like to visit the
        <a href="/requests">requests page</a>
      </p>

  </body>

</html>