table {
    border: 7px solid orange;
    background: #222222;
    color: #ffffff;
    border: 1px;
    width: 600px;
    padding: 5px;
    border-spacing: 0;
}

tr:nth-child(2n+1) {
    background-color: gray;
}
