ul.karikas {
    list-style-type: circle;
}

ul.szogletes {
    list-style-type: square;
}

ol.romai {
    list-style-type: upper-roman;
}

ol.abc {
    list-style-type: lower-alpha;
}

ol.szines, ul.szines {
    background: #ff9999;
    padding: 20px;
}

ol.szines li, ul.szines li {
    background: #ffe5e5;
    padding: 0 5px;
    margin-left: 35px;
}

ul.keppel {
    list-style-image: url("bogyo_zold.jpg");
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

ul.navbar li a {
    display: block;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
}

ul.navbar li {
    text-align: center;
    border-bottom: 1px solid #555;
}

ul.navbar li a:hover {
    background-color: #555;
    color: white;
}

ul.navbar li:last-child {
    border-bottom: none;
}
